html, body {
    margin: 0;
}

.signUpContainer {
    background-image: url("../img/sign_up.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form {
  padding: 100px;
  width: 300px;
  margin: 30px auto 10px auto;
  background-color: rgba(187, 255, 255, 0.5);
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}


label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

input[type="username"],
input[type="password"] {
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}


