<!DOCTYPE html>
<html lang="en">
<html>
    <head>
      <title>Sign up</title>
      <link rel="stylesheet" type="text/css" href="../static/css/sign_up.css">
      <link rel="icon" href="../static/img/icon.png" type="image/png">
    </head>
    <body>
        <div class = signUpContainer>
          <form method="POST">
              {% csrf_token %}
            <h2>Sign up</h2>
            <label for="username">Username:</label>
            <input type="username" id="username" name="username" required>
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <br>
            <input type="submit" value="Sign Up">
            <a href="{% url 'login' %}" class="login-link">Already have an account?</a>
          </form>
          <script>
            var userExists = "{{ user_exists|default_if_none:"" }}";

            if (userExists === "True") {
              alert("User already exists. Please choose a different username.");
            }
          </script>
         </div>
    </body>
</html>