<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}optionMenu{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="../static/css/optionMenu.css">
        <script src="../static/js/openMenu.js"></script>
        <link rel="icon" href="../static/img/icon.png" type="image/png">
        {% block mapHead %}{% endblock %}
        {% block listHead %}{% endblock %}
        {% block addHead %}{% endblock %}
    </head>
    <body>
        <div class="tab-container">
          <div class="tab" onclick="openTabMap()">Map</div>
          <div class="tab" onclick="openTabLCR()">List of Coral Reef</div>
          <div class="tab" onclick="openTabAC()">Add Coral Reef</div>
        <div class="tab" onclick="logOut()">Log out</div>
        </div>

        {% block mapBody %}{% endblock %}
        {% block listBody %}{% endblock %}
        {% block addBody %}{% endblock %}
    </body>
</html>